# Compiled Lua sources
luac.out

# luarocks build files
*.src.rock

# Object files
*.o
*.os
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch

# Libraries
*.lib
*.la
*.lo
*.def
*.exp

# Executables
*.out
*.app
*.i*86
*.x86_64
*.hex

